<div class="d-flex">
  <!-- navbar -->
  <div class="bg-primary" id="navbar">
    <img src="../assets/logo-mini.png" alt="logo" class="p-2" style="margin-left: 10px;">
    <h1 class="text-light p-2">
      <span id="title">Pokemon App</span>
    </h1>
  </div>
</div>


<div class="d-flex">
  <!-- sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        DashBoard
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        DashBoard
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        DashBoard
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        DashBoard
      </a>
    </div>
  </div>
</div>