<div class="d-flex">
  <!-- sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        DashBoard
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        DashBoard
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        DashBoard
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        DashBoard
      </a>
    </div>
  </div>
  <div>
    <!-- lo importamos de pages/inicial -->
    <app-inicial></app-inicial>
  </div>
</div>